@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500&family=Rock+Salt&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #777777;

}
/*---------------------------------------------Header*/
.navbar {
    font-family: 'Rock Salt', cursive;
    letter-spacing: 5px;
    background-color: black;
    float: left;
    font-size: 1550%;
    color: #00aba9;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
}

.nav {
    font-size: 125%;
    list-style-type: none;
    letter-spacing: 5px;
    float: right;
    background-color: black;
    color: #00aba9;
    margin-top: 15px;
}

.navbar, .nav {
    line-height: 80px;
}
/*---------------------------------------------Hero Image*/