@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500&family=Rock+Salt&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #777777;

}
/*---------------------------------------------Header*/

.navbar-brand {
    font-size: 180%;
    color: #2795a8;
    font-family: 'Rock Salt', cursive;
    letter-spacing: 5px;
    text-align: center;
    float: left;
    width: 100%;
    justify-content: center;
    margin-right: 0px;
    padding: 0px;
}
.navbar-brand:hover{
    color:#2795a8;
}
.navbar {
    padding: 10px 0px 10px 0px;
}

.nav {
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 5px;
    float: right;
    justify-content: center;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.nav-link {
    font-family: ;
    color: #2795a8;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 33.3%;
}

.nav-link:hover{
    color: #5dc7d9;
}

.container-logo, .nav {
    line-height: 45px;
}

.container-logo {
    width: 100%;
    height: 100%;
}

/*---------------------------------------------Hero Image*/

.hero-image {
    background: url(../images/hero-image-2.jpg) no-repeat center center;
    width: 100%;
    height: 400px;
    background-size: cover;
    animation-name: hero-img-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.hero-image-outer {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

@keyframes hero-img-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }

}
.hero-text {
    text-align: center;
    padding: 20px;
    color: rgb(255,255,255);
}
 
#hero-text {
    font-weight: 300;
    font-size: 250%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#hero-subtext {
    font-weight: 300;
    font-size: 125%;
}

.button-position {
    padding-top: 125px;
}

.btn {
    font-weight: 500;
    border-radius: 300px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 125%;
}

.btn-primary {
    background-color: #2795a8;
    border:#2795a8;
}

.btn-primary:hover {
    background-color: #5dc7d9;
    border: #5dc7d9;
    border-width: 20px;
}

.btn-xl {
    padding: 1rem 2rem;
}

/*---------------------------------------------About us*/
.container-fluid {
    width: 100%;
}

.text-important{
    text-transform: uppercase!important;
    text-align: center!important;
}

.content-heading{
    font-weight: 300;
    font-size: 250%;
    color: #2795a8;
    letter-spacing: 4px;
    margin-top: 40px;
}

.about-us-p {
    font-family: 'Lato' , sans-serif;
    font-weight: 500;
}

.about-us-img{
    overflow: visible;
    height: auto;
    width: 100%;
    padding: 40px 0px;
}

/*---------------------------------------------Footer*/

.style-footer{
    background-color: #2795a8;
    text-align: center;
    color: #fff;

}
.icons-media {
    color: #fff;
    font-size: xx-large;
}

.contact-container {
    margin: 15px 0px 15px 0px;
}

.contact-element-position {
    margin-bottom: 10px;
}

.last-contact-element-position {
    margin-bottom: 0px;
}

.btn-footer {
    font-weight: 500;
    border-radius: 50px;
    letter-spacing: 2px;
    font-size: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn-primary-footer {
    background-color: #fff;
    border:#fff;
    color: #2795a8;
}

.btn-primary-footer:hover {
    background-color: #5dc7d9;
    border: #5dc7d9;
    border-width: 10px;
    color: #fff;
}

.btn-xl-footer {
    padding: 1rem 2rem;
}

.media-container{
    margin-top: 15px;
    margin-bottom: 15px;
}

.icons-media {
    padding-left: 10px;
    padding-right: 10px;
}
/*---------------------------------------------Contact form*/