@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500&family=Rock+Salt&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #555555;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

main{
    margin-bottom: 348px;
}

p {
    font-size: 1.2rem;
}

.margin-sections {
    padding: 2.5rem 0 2.5rem 0;
}

.max-width-general {
    max-width: 2000px;
}

.content-heading{
    font-weight: 300;
    font-size: 2rem;
    color: #2795a8;
    letter-spacing: 4px;
    text-transform: uppercase!important;
    text-align: center!important;
}

.circle-container {
    width: 100%;
    height: auto;
    padding: 10px;
    border-style: solid;
    border-color: #5dc7d9;
    border-width: 3px;
    border-radius: 50%;
    margin: 0 auto;
}

/*---------------------------------------------Header*/

.navbar-brand {
    font-size: 1.8rem;
    color: #2795a8;
    font-family: "Rock Salt", cursive;
    letter-spacing: 5px;
    text-align: center;
    width: 100%;
    margin-right: 0px;
    padding: 0px;
}

.navbar-brand:hover{
    color:#5dc7d9;
}

.navbar {
    padding: 10px 0px 10px 0px;
}

.nav {
    font-size: 1rem;
    list-style-type: none;
    letter-spacing: 5px;
    float: right;
    justify-content: center;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.nav-link {
    color: #2795a8;
    text-align: center;
    padding: 0 8px 0 8px;
    width: 33.3%;
}

.nav-link:hover{
    color: #5dc7d9;
}

.container-logo, .nav {
    line-height: 45px;
}

.container-logo {
    width: 100%;
    height: 100%;
}

/*---------------------------------------------Hero Image*/

.hero-image {
    background: url("../images/hero-image-wave.jpg") no-repeat center center;
    width: 100%;
    height: 400px;
    background-size: cover;
    animation-name: hero-img-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.hero-image-outer {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

@keyframes hero-img-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

.hero-text {
    text-align: center;
    padding: 20px 0;
    color: rgb(255,255,255);
}
 
#hero-text {
    font-weight: 300;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#hero-subtext {
    font-weight: 300;
    font-size: 1.3rem;
}

.button-position {
    padding-top: 125px;
}

.btn {
    font-weight: 500;
    border-radius: 300px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.3rem;
}

.btn-primary {
    background-color: #2795a8;
    border:#2795a8;
}

.btn-primary:hover {
    background-color: #5dc7d9;
    border-width: 20px;
}

.btn-xl {
    padding: 1rem 2rem;
}

/*---------------------------------------------About us*/

.container-fluid {
    width: 100%;
}

.about-us-img{
    overflow: visible;
    height: auto;
    width: 100%;
    border-radius: 25% 0;
}

/*---------------------------------------------Quotes*/
.container-quote {
    margin-top: 2rem;
}

.quote-image {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

/*---------------------------------------------Health & kiteventure*/

.style-health {
    background-color: #2795a8;
    text-align: center;
    color: #fff;
}
.content-heading-health {
    color: #fff;
    margin: 0px;
}

.sub-health-container {
    padding: 1.5rem;
}

.icons-health {
    font-size: 2.3rem;
    font-weight: 300;
    padding-bottom: 1rem;
}

.sub-health {
    text-transform: uppercase;
    font-weight:300;
}

/*---------------------------------------------Destinations*/

.content-destinations-sub-heading {
    font-weight: 300;
    text-align: center;
    color: #5dc7d9;
    letter-spacing: 4px;
    margin-top: 40px;
}

.destination-img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 10px;
}

/*---------------------------------------------Footer*/

.margin-footer-row {
    margin: 0;
}

#style-footer{
    background-color: #2795a8;
    text-align: center;
    color: #fff;
    max-width: 2000px;
}

.links-contact-footer {
    color: #fff;
}

.links-contact-footer:hover {
    color: #5dc7d9;
}

.icons-media {
    color: #fff;
    font-size: xx-large;
}

.items-footer {
    padding: 30px 0px 30px 0px;
}

.contact-element-position {
    margin-bottom: 10px;
}

.last-contact-element-position {
    margin-bottom: 0px;
}

.btn-footer {
    font-weight: 500;
    border-radius: 50px;
    letter-spacing: 2px;
    font-size: 1rem;
    text-transform: uppercase;
}

.btn-primary-footer {
    background-color: #fff;
    border: #2795a8;
    color: #2795a8;
}

.btn-primary-footer:hover {
    background-color: #5dc7d9;
    color: #fff;
}

.btn-xl-footer {
    padding: 1rem 2rem;
}

.icons-media {
    padding-left: 10px;
    padding-right: 10px;
}

/*--------------------------------------------------Gallery*/

.bg-gallery-heading {
    background: url(../images/bg-image-form.jpg) no-repeat center center;
    width: 100%;
    height: auto;
    background-size: cover;
    margin: 0;
}

.bg-heading {
    background-color: rgba(93, 199, 217,0.8);
    padding: 15px 0px 15px 0px;
}

.heading-gallery {
    font-weight: 400;
    font-size: 2rem;
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
    padding: 15px 0px 15px 0px;
}

.padding-gallery {
    padding: 0;
}

#gallery {
    width: 100%;
    column-count: 1;
    column-gap: 0px;
    padding: 0px;
    margin: 15px 0px 15px 0px;
}

img {
    width: 100%;
}

/*---------------------------------------------Contact form*/

.bg-form-image {
    background: url(../images/bg-image-form.jpg) no-repeat center center;
    width: 100%;
    height: auto;
    background-size: cover;
    margin: 0px 0px 40px 0px;
}

.container-form {
    padding: 0% 8% 0% 8%;
}

.jumbotron-form {
    background-color: rgba(93, 199, 217,0.8);
    height: min-content;
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.text-position-form {
    text-align: center;
}

.content-heading-form {
    margin-top: 40px;
    text-transform: uppercase;
}

.form-container-item, .content-heading-form {
    color: #fff;
}

.form-header {
    padding-top: 35px;
    font-weight: 400;
    font-size: 1.7rem;
    letter-spacing: 6px;
}

.label-text {
    font-size: 1.5rem;
    margin: 20px 0px 10px 0px;
}

.text-holder {
    width: 90%;
    height: 35px;
    max-width: 450px;
    padding: 10px;
}

.request-heading-container {
    padding: 20px 0px 15px 0px;
}

.request-heading {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 10px;
}

.label-request {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-top:20px;
    margin-bottom: 0;
}

.input-request .label-request {
    width: 100%;
}

.comments-heading {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 0px 10px 10px 10px;
}

.comments-holder {
    width: 90%;
    max-width: 450px;
}

.submit-position {
    padding: 35px 0;
}

/*---------------------------------------------Media queries*/

@media screen and (max-width: 481px) {
    main {
        margin-bottom: 595px;
    }

    .navbar {
        padding-top: 15px;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 481px) {
    #gallery {
        column-count: 2;
    }

    .nav, .navbar {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 769px){
    .navbar-brand {
        text-align: left;
        padding-left: 25px;
    }

    #about-us-p-outer {
        padding: 0 40px;
    }

    .text-quotes {
        padding-top: 125px;
    }

    #gallery {
        column-count: 3;
    }
}

@media screen and (min-width: 1025px) {
    #gallery {
        column-count: 4;
    }

    .about-us-img {
        padding-right: 40px;
    }
}

@media screen and (min-width: 5120px) {
    .container-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .bg-form-image {
        height: 90vh;
    }
}
